#recipe-view {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 100vh;
}

.recipes-list {
    width: 50%;
    overflow-y: scroll;
    margin-left: 30px;
}

.recipe-detail {
    width: 45%;
    margin-left: 25px;
}
